
 body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


img {
    display: block;
    margin: 20px auto; 
    max-width: 100%; 
    height: auto; 
}


h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
}


p {
    text-align: center;
    font-size: 18px;
}


h3 {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 20px;
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.hyper1,
.hyper2 {
    margin: 0 10px;
    font-size: 18px;
    text-decoration: underline;
}