
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(138, 181, 181), rgb(78, 89, 93));
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.header-image {
    display: block;
    margin: 0 auto;
}

.header-title {
    color: #333;
    font-size: 36px;
    margin-top: 20px;
}

.content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.content h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.content-paragraph {
    font-size: 18px;
    line-height: 1.5;
}

.content-list {
    font-size: 18px;
    list-style-type: disc;
    padding-left: 20px;
}

.content-hr {
    width: 100%;
    border: 2px solid #333;
    margin: 20px 0;
}

.assignment-work {
    text-align: center;
    margin-top: 20px;
    font-size: medium;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 20px;
    font-size: 1.2rem;
}

.footer-links a {
    text-decoration: none;
    color: #093d54d3;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #b697db;
}
